HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.env
.mvn
user-service/.mvn
user-service/mvnw.cmd
user-service/.env

order-service/.mvn
order-service/mvnw.cmd
order-service/.env
order-service/mvnw

authentication-service/.mvn
authentication-service/mvnw.cmd
authentication-service/mvnw
authentication-service/.env
authentication-service/src/main/resources/certs/

api-gateway/.mvn
api-gateway/mvnw.cmd
api-gateway/.env
api-gateway/mvnw

